---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/newsroom.css';
---

<MainLayout title="Newsroom" isStatic={true}>
    <main class="static-page-container">
        <h1 class="static-title font-baumans">Newsroom</h1>
        
        <div class="news-grid">
            <div class="news-card">
                <span class="news-date">April 1, 2026</span>
                
                <h2 class="news-headline">
                    The Initial Spark: <span class="font-baumans"><span class="flip-b">B</span>eBulbed</span>
                </h2>
                
                <p class="news-excerpt">
                    We see the world as it is, but we work for the world as it should be. 
                    <span class="font-baumans"><span class="flip-b">B</span>eBulbed</span> was founded to bridge that gap to prove 
                    that how we live today shouldn’t stop how we live tomorrow. 
                    Every great idea starts with a single spark, a moment of clarity that shows a better way forward. 
                    Today, that spark is lit.
                </p>
            </div>
        </div>
    </main>
</MainLayout>