---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Privacy Policy" isStatic={true}>
    <main class="static-page-container">
        <h1 class="static-title font-baumans">Privacy Policy</h1>
        <div style="max-width: 600px; color: var(--zinc-text); line-height: 1.8;">
            <p>Your privacy is important to us...</p>
        </div>
    </main>
</MainLayout>